<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fanderuff Engenharia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='styles/homepage.css') }}">
</head>
<body>
    <h1 align="center">Fanderuff Engenharia</h1>
    <h2 align="center">Engenheiro Civil Jorge Luiz Fanderuff</h2>
    <h3 align="center">CREA/SC 074.086-6</h3>
    <h2 align="center">Especializada em Projetos de Prevenção Contra Incêndio</h2>
    <h2 align="center">Atendemos Camboriú e Região</h2>
    <h2>Contatos:</h2>
    <p><a href="tel:47996743870">Telefone: (47)99674-3870</a></p>
    <p><a href="mailto:fanderuff@gmail.com">E-mail: fanderuff@gmail.com</a></p>
    <ul>
        <h2>Consultas no site dos Bombeiros Militar de Santa Catarina (CBMSC)</h2>
        <p><a href="/legislacao">Legislação Prevenção Contra Incêndio Santa Catarina</a></p>
        <p><a href="https://sigat.cbm.sc.gov.br/sigat/modulos/solicitacoes/acompanha.php?" target="_blank">Consulta Tramitação de Projetos e Habite-se sistema antigo (SIGAT)</a></p>
        <p><a href="https://sigat.cbm.sc.gov.br/sigat/modulos/solicitacoes/acessocidadao2.php?" target="_blank">Consulta Tramitação de Alvarás de Funcionamento sistema antigo (SIGAT)</a></p>
        <p><a href="https://sigat.cbm.sc.gov.br/sigat/modulos/solicitacoes/solic_funcionamento_orienta_externo.php" target="_blank">Solicitação ou Renovação de Vistorias para Alvarás de Funcionamento</a></p>
        <p><a href="https://esci.cbm.sc.gov.br/" target="_blank">Acesso ao sistema novo (E-SCI)</a></p>
        <h2>Consulta no sistema de gerenciamento de infrações do CBMSC</h2>
        <p><a href="https://sgi.cbm.sc.gov.br/p19" target="_blank">Formulário para Recurso de Infrações</a></p>
        <p><a href="https://sgi.cbm.sc.gov.br/e03" target="_blank">Resultado de Recurso</a></p>
        <p><a href="https://sgi.cbm.sc.gov.br/e04" target="_blank">Publicação de Soluções</a></p>
        <h2>Consulta no site do CREA/SC</h2>
        <p><a href="http://www.crea-sc.org.br/portal/index.php?cmd=profissionais-habilitados" target="_blank">Consulta Profissionais Habilitados no CREA/SC</a></p>
    </ul>
</body>
</html>