<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Legislação</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='styles/legislacao.css') }}">
</head>
<body>
    <nav>
        <h1>Legislação Prevenção Contra Incêndio Santa Catarina</h1>
        <ul>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/51c7c4f126b305eda1cfb49c7d7f25aa.pdf" target="_blank">IN 1 Processos gerais de segurança contra incêndio e pânico - parte 1</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/bd234e04aeeaffe49be9d51b9dedcfdb.pdf" target="_blank">IN 1 Sistemas e medidas de segurança contra incêndio e pânico - parte 2</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/1228fae6e2192ebd7d87a15c0069a586.pdf" target="_blank">IN 2 Infrações administrativas</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/7bbbafb4b0a460d44e5c17a9901576c0.pdf" target="_blank">IN 3 Carga de incêndio</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/ea2911a4b82104f5be6147b42201067a.pdf" target="_blank">IN 4 Terminologia de segurança contra incêndio</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/8b5d84a0690c7332e7d927b30737ca90.pdf" target="_blank">IN 5 Edificações existentes e recentes</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/8ff163492034f99093284ddb414ed7d9.pdf" target="_blank">IN 6 Sistema preventivo por extintores</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/0c14ea406d7beec0b980fd087594d986.pdf" target="_blank">IN 7 Sistema hidráulico preventivo</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/de5a5dde520557248a07b7daedcfd2c1.pdf" target="_blank">IN 8 Instalações de gás combustível (GLP e GN)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/a6d911dc7d4c3ed4c80f254f0a512c87.pdf" target="_blank">IN 9 Sistema de saída de emergência</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/5110f2fe10dd3593dea64b6841316142.pdf" target="_blank">IN 10 Revogada</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/dda074f2df64d3f251e2c9126ee98fb5.pdf" target="_blank">IN 11 Sistema de iluminação de emergência</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/8d70264d6b80814bf7a8ff2c656d955e.pdf" target="_blank">IN 12 Sistema de alarme e detecção de incêndio</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/bd324f10225ae02e5c6b1628e5abb7f3.pdf" target="_blank">IN 13 Sinalização para abandono de local</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/323afdfc6ea0d15a2fd831bcd016ff21.pdf" target="_blank">IN 14 Compartimentação, tempo de resistência ao fogo e isolamento de risco</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/5a0dc288c6bf4cf8ac330a5a80cb9ae4.pdf" target="_blank">IN 15 Sistema de chuveiros automáticos (sprinklers)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/8d938a51ed9892ebe76414c5290a15d7.pdf" target="_blank">IN 16 Sistema fixo de gases limpos e dióxido de carbono (co²)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/a5a03d9fbf3363ea0eac5fe47acd145b.pdf" target="_blank">IN 17 Sistema de água nebulizada (mulsifyre)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/d9a7facc18a64b12e848216de5aea54d.pdf" target="_blank">IN 18 Controle de materiais de revestimento e acabamento</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/9432e0c7c314e3e0af0c421b83544712.pdf" target="_blank">IN 19 Instalações elétricas de baixa tensão</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/a7b543580671d004a67c6586289894ef.pdf" target="_blank">IN 20 Parque para armazenamentos de líquidos inflamáveis e combustíveis</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/a21bb5762f34ef527fff8355166e8eda.pdf" target="_blank">IN 21 Postos para reabastecimento de combustíveis (líquidos inflamáveis & GNV)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/dbbb7af9adf1e15d69554bc80fc232e0.pdf" target="_blank">IN 22 Instalação para reabastecimento de combustíveis de uso privativo</a></li>
            <li><a href="">IN 23 Em revisão</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/60dc033c6a7d528b69b7534c6cae6f26.pdf" target="_blank">IN 24 Eventos temporários</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/cd1e1ef3af66b486c3c84e57f60eae26.pdf" target="_blank">IN 25 Rede pública de hidrantes</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/961b3e37fad189a38aa17c4e39e1b3da.pdf" target="_blank">IN 26 Locais onde a liberdade das pessoas sofre restrições</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/5c7a9591743f5733a1daa958a042a637.pdf" target="_blank">IN 27 Prevenção em espetáculos pirotécnicos</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/9e2161f4f862eda4eb10110ec54957a5.pdf" target="_blank">IN 28 Brigada de incêndio</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/0b9dabafe1810838effdb8d2c0bffe79.pdf" target="_blank">IN 29 Postos de revenda de GLP (PRGLP) (verificar o afastamento dos locais de vendas de fogos - IN 30)</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/eb2555f29b2bb361089c0f6aed69eafc.pdf" target="_blank">IN 30 Armas, munições, explosivos e fogos de artifícios</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/820441f5455a0554aa68a646e2fd421e.pdf" target="_blank">IN 31 Plano de emergência</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/d3ff2a651c73388c56d0258768ddf78b.pdf" target="_blank">IN 32 Caldeiras e vasos de pressão</a</li>>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/ccb324ba3999c1e75c613c30f5472bea.pdf" target="_blank">IN 33 Parques aquáticos, piscinas e congêneres</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/2da19a2ec376e584e04bab1e191cf666.pdf" target="_blank">IN 34 Atividades agropastoris e silos</a></li>
            <li><a href="https://documentoscbmsc.cbm.sc.gov.br/uploads/5c6d4593b589545e967cdc1b6cd3ca86.pdf" target="_blank">IN 35 Acesso de viaturas</a></li>
        </ul>
    </nav>
</body>
</html>